name: Test and clippy Risc0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    with:
      zkvm: risc0
      cuda: true
