name: Test and clippy Miden

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    permissions:
      contents: read
      packages: write
    with:
      zkvm: miden
