name: Test and clippy ZisK

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    with:
      zkvm: zisk
      cuda: true
      cluster: true
      skip_prove_test: true
