name: Test and clippy Pico

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    permissions:
      contents: read
      packages: write
    with:
      zkvm: pico
      toolchain: nightly-2025-08-04
