name: Test and clippy zkVM

on:
  workflow_call:
    inputs:
      zkvm:
        description: 'zkVM to test'
        required: true
        type: string
      cuda:
        description: 'Whether to build CUDA-enabled images'
        required: false
        type: boolean
        default: false
      # Remove when we use larger runners, currently only needed to skip for zisk
      skip_prove_test:
        description: 'Whether to skip prove test and ere-dockerized test or not'
        required: false
        type: boolean
        default: false

env:
  CARGO_TERM_COLOR: always

jobs:
  get_image_metadata:
    name: Get image metadata
    runs-on: ubuntu-latest
    outputs:
      image_registry: ${{ steps.image_meta.outputs.image_registry }}
      image_tag: ${{ steps.image_meta.outputs.image_tag }}
      cached_image_tag: ${{ steps.image_meta.outputs.cached_image_tag }}
      base_zkvm_image: ${{ steps.image_meta.outputs.base_zkvm_image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check Dockerfile changes
        id: changed_files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            docker/**
            scripts/**

      - name: Get image metadata
        id: image_meta
        run: |
          GIT_SHA="${{ github.sha }}"
          IMAGE_TAG="${GIT_SHA:0:7}"

          CACHED_IMAGE_TAG=""
          if [ "${{ github.event_name }}" == "pull_request" ] && [ "${{ steps.changed_files.outputs.any_changed }}" == "false" ]; then
            CACHED_IMAGE_TAG="${{ github.event.pull_request.base.sha }}"
            CACHED_IMAGE_TAG="${CACHED_IMAGE_TAG:0:7}"
          fi

          IMAGE_REGISTRY="ghcr.io/${{ github.repository }}"
          BASE_ZKVM_IMAGE="$IMAGE_REGISTRY/ere-base-${{ inputs.zkvm }}:$IMAGE_TAG"

          echo "image_registry=$IMAGE_REGISTRY" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "cached_image_tag=$CACHED_IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "base_zkvm_image=$BASE_ZKVM_IMAGE" >> $GITHUB_OUTPUT

  build_image_cuda_check:
    name: Build image with CUDA enabled
    if: inputs.cuda
    needs: get_image_metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free up disk space
        run: bash .github/scripts/free-up-disk-space.sh

      - name: Pull or build ere-base and ere-base-${{ inputs.zkvm }} images with CUDA enabled
        run: |
          CACHED_TAG="${{ needs.get_image_metadata.outputs.cached_image_tag }}"
          if [ -n "$CACHED_TAG" ]; then
            CACHED_TAG="${CACHED_TAG}-cuda"
          fi
          bash .github/scripts/pull-or-build-base-zkvm-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }}-cuda \
            --cached-tag "$CACHED_TAG" \
            --cuda-archs '89,120'

      - name: Build ere-server-${{ inputs.zkvm }} CUDA image
        run: |
          bash .github/scripts/build-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }}-cuda \
            --server \
            --cuda-archs '89,120'

  clippy_via_docker:
    name: Clippy via Docker
    needs: get_image_metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free up disk space
        run: bash .github/scripts/free-up-disk-space.sh

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: rust-${{ inputs.zkvm }}-${{ hashFiles('Cargo.lock') }}

      - name: Pull base zkvm image or build locally
        run: |
          bash .github/scripts/pull-or-build-base-zkvm-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }} \
            --cached-tag "${{ needs.get_image_metadata.outputs.cached_image_tag }}"

      - name: Run cargo clippy for ere-${{ inputs.zkvm }} via Docker
        run: |
          DOCKER_CMD="docker run \
            --rm \
            --interactive \
            --volume ${{ github.workspace }}:/ere \
            --volume $HOME/.cargo/registry:/usr/local/cargo/registry \
            --volume $HOME/.cargo/git:/usr/local/cargo/git \
            --workdir /ere \
            ${{ needs.get_image_metadata.outputs.base_zkvm_image }} \
            /bin/bash"

          cat <<EOF | $DOCKER_CMD
          set -e -o pipefail

          OPTIONS="--all-targets -- -D warnings"
          cargo clippy --package ere-${{ inputs.zkvm }} \$OPTIONS
          cargo clippy --package ere-compiler --features ${{ inputs.zkvm }} \$OPTIONS
          cargo clippy --package ere-server --features ${{ inputs.zkvm }} \$OPTIONS

          time chown -R $(id -u):$(id -g) /usr/local/cargo/registry
          time chown -R $(id -u):$(id -g) /usr/local/cargo/git
          time chown -R $(id -u):$(id -g) target
          EOF

  test_via_docker:
    name: Test via Docker
    needs: get_image_metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free up disk space
        run: bash .github/scripts/free-up-disk-space.sh

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: rust-${{ inputs.zkvm }}-${{ hashFiles('Cargo.lock') }}

      - name: Pull base zkvm image or build locally
        run: |
          bash .github/scripts/pull-or-build-base-zkvm-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }} \
            --cached-tag "${{ needs.get_image_metadata.outputs.cached_image_tag }}"

      - name: Run cargo test for ere-${{ inputs.zkvm }} via Docker
        run: |
          DOCKER_CMD="docker run \
            --rm \
            --interactive \
            --volume ${{ github.workspace }}:/ere \
            --volume $HOME/.cargo/registry:/usr/local/cargo/registry \
            --volume $HOME/.cargo/git:/usr/local/cargo/git \
            --workdir /ere \
            ${{ needs.get_image_metadata.outputs.base_zkvm_image }} \
            /bin/bash"

          cat <<EOF | $DOCKER_CMD
          set -e -o pipefail

          cargo test --release --package ere-${{ inputs.zkvm }} \
            -- ${{ inputs.skip_prove_test && '--skip prove' || ''  }}

          time chown -R $(id -u):$(id -g) /usr/local/cargo/registry
          time chown -R $(id -u):$(id -g) /usr/local/cargo/git
          time chown -R $(id -u):$(id -g) target
          EOF

  test_ere_dockerized:
    name: Test ere-dockerized with the selected zkVM
    needs: get_image_metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free up disk space
        run: bash .github/scripts/free-up-disk-space.sh

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          key: rust-${{ inputs.zkvm }}-${{ hashFiles('Cargo.lock') }}

      - name: Pull images or build locally
        run: |
          bash .github/scripts/pull-or-build-base-zkvm-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }} \
            --cached-tag "${{ needs.get_image_metadata.outputs.cached_image_tag }}"

          # Build ere-compiler-${{ inputs.zkvm }} and ere-server-${{ inputs.zkvm }}
          bash .github/scripts/build-image.sh \
            --zkvm ${{ inputs.zkvm }} \
            --registry ${{ needs.get_image_metadata.outputs.image_registry }} \
            --tag ${{ needs.get_image_metadata.outputs.image_tag }} \
            --compiler \
            --server

      - name: Run cargo test for ere-${{ inputs.zkvm }} via ere-dockerized
        env:
          ERE_IMAGE_REGISTRY: ${{ needs.get_image_metadata.outputs.image_registry }}
        run: |
          cargo test --release --package ere-dockerized \
            -- ${{ inputs.zkvm }} ${{ inputs.skip_prove_test && '--skip prove' || ''  }} --test-threads=1
