name: Test and clippy Airbender

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test-zkvm.yml
    permissions:
      contents: read
      packages: write
    with:
      zkvm: airbender
      toolchain: nightly-2025-07-25
      skip_prove_test: true
