name: Test and clippy OpenVM

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_run:
    workflows: ['Build and push images']
    types: [completed]
  pull_request:

jobs:
  test:
    if: github.event_name == 'pull_request' || github.event.workflow_run.conclusion == 'success'
    uses: ./.github/workflows/test-zkvm.yml
    with:
      zkvm: openvm
      cuda: true
